body {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 100vh;
  background-color: aqua;
}


button {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  width: 100px;
  background-color: salmon;
  color: white;
  border: none;
  box-shadow: 4px 4px;
}

div {
  border-radius: 40px;
  padding: 30px;
  background-color: pink;
}

input {
  border-radius: 30px;
  border: none;
  padding: 5px;
  margin: 10px;

}

